.button {
  border-radius: 50px;
  white-space: no-wrap;
  padding: 12px;
  background: #eaaf41;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  background: #fff
}

.secondary {
  background: #010606;
}

.secondary:hover {
  transition: all 0.2s ease-in-out;
  background: #eaaf41;
}

.big {
  padding: 14px 48px;
}

.dark {
  color: #010606;
}

.fontBig {
  font-size: 20px;
}
